
%table#bodytable
  %tr#bodytable_tr0
    %td=render '/layouts/links_top'
    
  %tr#bodytable_tr1
    -if notice.present?
      %p.notice=notice
      %hr/
    -if alert.present?
      %p.alert=alert
      %hr/
    %td=yield
  %tr#bodytable_tr2
    %td=render '/layouts/links_bottom'
    
    
